* {
	box-sizing: border-box;
}

body{

	background:pink;
	font-family: sans-serif;
}


h1{
	font-size: 10em;
}

h2{
	font-size: 5em;
}

p{
	width: 50%;
	margin: 50px;
	font-size: 1em;
}

.main{	
	width: 80%;
	margin: 100px auto;	
}

#purple-bold{
	color: ##C39BD3;
	font-weight: bold;
	font-style: italic;
}
#red-bold{
	color: ##D98880;
	font-weight: bold;
	font-style: italic; 
}

#blue-bold{
	color: #AED6F1;
	font-weight: bold;
	font-style: italic;
}

.center{
	text-align: center;
	padding: 20px;
}

